#target-container, #math-container {
	border: solid 1px black;
    margin: 1em;
    padding: 0.5em;
}
#lisp-error {
  text-align: center;
  color: red;
}
#doc {
    padding: 3em;
}
#report {
	background: white;
	padding: 1em;
	border: solid 1px black;
}