h1 {
    margin: 0;
    padding: 0;
}
a {
    cursor: pointer;
    cursor: hand;
}
code {
    margin: 0 2px;
    padding: 1px 2px;
    border: 1px solid #BBB;
    color: black;
    background-color: #DDD;
    border-radius: 3px;
    white-space: nowrap;
}
pre code {
    display: block;
    white-space: pre;
    position: relative;
}
#target-container, #math-container {
	border: solid 1px black;
    margin: 1em;
    padding: 0.5em;
}
#target-title, #math-title {
    float: left;
}
.error {
  text-align: center;
  color: red;
}
#too-hard-link {
  text-align: right;
  padding: 0 0 1em 0;
}
#non-interactive-msg {
  background-color: yellow;
  padding: 3px;
  margin-left: 2px;
}
#doc {
    padding: 3em;
}
#report {
	background: white;
	padding: 1em;
	border: solid 1px black;
}
#blockly {
    height: 200px;
}
