code {
    margin: 0 2px;
    padding: 1px 2px;
    border: 1px solid #BBB;
    color: black;
    background-color: #DDD;
    border-radius: 3px;
    white-space: nowrap;
}
pre code {
    display: block;
    white-space: pre;
    position: relative;
}
#target-container, #math-container {
	border: solid 1px black;
    margin: 1em;
    padding: 0.5em;
}
#lisp-error {
  text-align: center;
  color: red;
}
#doc {
    padding: 3em;
}
#report {
	background: white;
	padding: 1em;
	border: solid 1px black;
}
#blockly {
    height: 200px;
}
